@model LoginDto

@{
	/*Bu sayfanın _Layout tan bağımsız çalıştığını söyledik*/
	Layout = null;
}
<!DOCTYPE html>

<html>
<head>
	<title>Login işlemi</title>
	<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
	<link href="~/metronic/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
	<link href="~/metronic/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
</head>
<body id="kt_body" class="bg_body">
	<div class="d-flex flex-column flex-root">
		<div class="d-flex flex-column position-x-center bgi-size-contain">
			<div class="d-flex flex-column flex-center p-10 pb-lg-20">
				<a href="#" class="mb-10">
					<img src="~/Metronic/assets/media/logos/girisLogo.png" alt="Logomuz" style="width: 150px; border-radius:50%" />
				</a>
				<div class="w-lg-500px bg-body rounded shadow-sm p-5 p-lg-5 mx-auto">
					<form method="post" asp-action="index">
						<div class="mb-10">
							<div class="fv-row mb-10">
								<label asp-for="KullaniciKodu" class="form-label"></label>
							</div>
							<input asp-for="KullaniciKodu" class="form-control form-control-lg form-control-solid" />
							<span asp-validation-for="KullaniciKodu" class="text-danger"></span>
						</div>
						<div class="mb-10">
							<div class="fv-row mb-10">
								<label asp-for="KullaniciSifre" class="form-label"></label>
							</div>
							<input type="password" asp-for="KullaniciSifre" class="form-control form-control-lg form-control-solid" />
							<span asp-validation-for="KullaniciSifre" class="text-danger"></span>
						</div>
						<div class="text-center">
							<button class="btn btn-primary btn-lg w-100 mb-10" type="submit">
								<span class="indicator-label"> Giriş</span>
							</button>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</body>
</html>