@using P011_IsTakip.Entities.Enums;
@{
    Layout = "_Layout2";
}
@model Kullanici
<div class="row my-15">
    <div class="col-xxl-12">
        <div class="card card-xxl-strech mb-5">
            <div class="card-header">
                <h3 class="card-title align-items-start flex-column">Kullanıcı Düzenle</h3>
            </div>
            <div class="card-body">
                <form asp-action="Edit">
                    <div class="mb-5">
                        <label asp-for="Ad" class="form-label"></label>
                        <input asp-for="Ad" class="form-control" />
                        <span asp-validation-for="Ad" class="text-danger"></span>
                    </div>
                    <div class="mb-5">
                        <label asp-for="Soyad" class="form-label"></label>
                        <input asp-for="Soyad" class="form-control" />
                        <span asp-validation-for="Soyad" class="text-danger"></span>
                    </div>
                    <div class="mb-5">
                        <label asp-for="KullaniciKodu" class="form-label"></label>
                        <input asp-for="KullaniciKodu" class="form-control" />
                        <span asp-validation-for="KullaniciKodu" class="text-danger"></span>
                    </div>
                    <div class="mb-5">
                        <label asp-for="KullaniciSifre" class="form-label"></label>
                        <input asp-for="KullaniciSifre" class="form-control" />
                        <span asp-validation-for="KullaniciSifre" class="text-danger"></span>
                    </div>

                    <div class="mb-5">
                        <label asp-for="Musteri" class="form-label"> </label>
                        <select asp-for="Musteri" asp-items="ViewBag.Musteri" class="form-select form-select-lg" data-placeholder="seçiniz.">
                            <option value="0">Musteri</option>
                        </select>
                        <span asp-validation-for="Musteri" class="text-danger"></span>
                    </div>

                    <div class="mb-5">
                        <label asp-for="RolTanim" class="form-label"></label>
                        <select asp-for="RolTanim"asp-items="Html.GetEnumSelectList<RoleTanim>()"></select>
                        <span asp-validation-for="RolTanim" class="text-danger"></span>
                    </div>
             
                    <div class="mb-6">
                        <label asp-for="MailBildirim" class="form-label">
                            <input asp-for="MailBildirim" class="form-check-input" /> @Html.DisplayNameFor(model=>model.MailBildirim)
                        </label>
                    </div>

                    <a asp-action="Index" class="btn btn-secondary"><i class="fa fa-arrow-left"></i>Listeye geri dön</a>
                    <button type="submit" class="btn btn-success"><i class="fa fa-check"></i>Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

